{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static "bower_components/materialize/dist/css/materialize.min.css"%}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static "bower_components/material-design-icons/iconfont/material-icons.css"%}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static "bower_components/components-font-awesome/css/fontawesome-all.min.css"%}" />
<script src="{% static "bower_components/jquery/dist/jquery.min.js"%}"></script>
<script src="{% static "bower_components/materialize/dist/js/materialize.min.js"%}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/style.css"%}" />

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
        $('.tooltipped').tooltip();
        $('.carousel').carousel();
    });
</script>
