<div class="footer">
    <div class="footer-detail">
        <span>Follow us on: </span>
        <a href="https://www.facebook.com/TPCbyChiesCakes/" class="tooltipped" target="_blank" data-tooltip="View our Facebook page.">
            <span class="btn-floating btn-small indigo darken-4">
                <i class="fab fa-square-o fa-stack-2x"></i>
                <i class="fab fa-facebook fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://www.facebook.com/TPCbyChiesCakes/" class="tooltipped" target="_blank" data-tooltip="View our Twitter page.">
            <span class="btn-floating btn-small indigo darken-4">
                <i class="fab fa-square-o fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://www.youtube.com/channel/UCEhfkyPSIjh0yiXGlHbN59w" class="tooltipped" target="_blank" data-tooltip="View our Youtube page.">
            <span class="btn-floating btn-small indigo darken-4">
                <i class="fab fa-square-o fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x"></i>
            </span>
        </a>
    </div>
    <div class="footer-detail">
            <p> About the Developer <a href="https://www.linkedin.com/in/delmundo-carlo/" class="tooltipped fab fa-linkedin" target="_blank" data-tooltip="View Developer's LinkedIn page."></a> </p>
    </div>
</div>