<nav class="pink lighten-3">
    <div class="nav-wrapper">
      <a href="#"> <span class="brand-logo"> LOGO </span> </a>
      <a href="#" class='sidenav-trigger' data-target='mobile-nav'>
          <i class="material-icons">menu</i>
      </a>
      <ul id="nav" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/flavors/">Flavors</a></li>
        <li><a href="/gallery/">Gallery</a></li>
        <li><a href="/reservations/">Reservations</a></li>
        <li><a href="/reviews/">Reviews</a></li>
        <li><a href="/info/">About Us</a></li>
      </ul>
    </div>
</nav>

<ul id="mobile-nav" class="sidenav">
    <li><a href="/">Home</a></li>
    <li><a href="/flavors/">Flavors</a></li>
    <li><a href="/gallery/">Gallery</a></li>
    <li><a href="/reservations/">Reservations</a></li>
    <li><a href="/reviews/">Reviews</a></li>
    <li><a href="/info/">About Us</a></li>
</ul>