<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact Numbers and Addresses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- <link href='https://fonts.googleapis.com/css?family=Clicker Script' rel='stylesheet'> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/bootstrap.css"%}" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/position.css"%}" />
</head>
<body>
    <div class="wrapper">
        <div class="container header">
            <div class="col-md-10 inline-box">
                <h1>Chie's Cakes</h1>
            </div>
            <div class="col-md-2 inline-box">
                <h1> 
                    {% if 'ID' in request.session %}
                        <form action="/logout"> 
                            {% csrf_token %}
                            <button class="form-control btn-block logout-button"> LOG OUT </button> 
                        </form>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="container header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    {% if 'ID' in request.session %}
                        <span class="navbar-brand active">Welcome {{user.first_name}}!</span>
                    {% else %}
                        <a class="navbar-brand active" href="/register">Welcome Guest!</a>
                    {% endif %}
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/flavors">Flavors</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/book">Reservations</a></li>
                    <li class="active"><a href="/contacts">Contact Us</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </nav>
        </div>
        <main class="container content" role=main>
            <h1>Contact info</h1>
            <div class="col-lg-12 call-cards inline-box">
                <div class="col-lg-6 inline-box">
                    <a href="tel:+639273737295" class="contact-icon">
                        <img class="card-img" src="media/images/phone.png" alt="Card image cap">
                    </a>
                    <div class="cards">
                        <div class="detail-box"> </div>
                        <div class="contact-detail">
                            <ul class="list-group">
                                <li>
                                    <a href="tel:+639273737295" class="card-text">+63 (927) 373-7295</a>
                                </li>
                                <li>
                                    <a href="tel:+639205332703" class="card-text">+63 (920) 533-7203</a>
                                </li>
                                <li>
                                    <a href="tel:+63024755651" class="card-text">+63 (02) 475-5651</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 inline-box">
                    <div class="cards">
                        <a href="mailto:chiescakes.makati@gmail.com" class="contact-icon">
                            <img class="card-img" src="media/images/email.png" alt="Card image cap">
                        </a>
                        <div class="detail-box"> </div>
                        <div class="contact-detail">
                            <ul class="list-group">
                                <li>
                                    <a href="mailto:chiescakes.makati@gmail.com" class="card-text">chiescakes.makati@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="container footer">
            <div class="footer inline-box">
                <span>Follow us on: </span>
            </div>
            <div class="footer inline-box footer-box">                
                <a href="https://www.facebook.com/TPCbyChiesCakes/" class="fa fa-facebook"></a> 
            </div>
            <div class="footer inline-box footer-box">
                <a href="https://www.facebook.com/TPCbyChiesCakes/" class="fa fa-twitter"></a>
            </div>
            <div class="footer inline-box footer-box">
                <a href="https://www.facebook.com/TPCbyChiesCakes/" class="fa fa-youtube"></a>
            </div>
            <p>About the Developer <a href="#" class="fa fa-linkedin"></a> </p>
            <br>
        </div>
    </div>
</body>
</html>