<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flavors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "cdn/bower_components/bootstrap/dist/css/bootstrap.min.css"%}" />
    <script src="{% static "cdn/bower_components/jquery/dist/jquery.min.js"%}"></script>
    <script src="{% static "cdn/bower_components/bootstrap/dist/js/bootstrap.min.js"%}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/position.css"%}" />

    <script>
        $(document).ready(function(){
            $('.flavors').hover(
                function(){
                    $('#sample_pic').attr('src',$(this).attr('data-img-url'));
                },
                function(){
                    $('#sample_pic').attr('src',$('#hdnSelected').val());
                }
            );
            $('.flavors').click(function(){
                $('#hdnSelected').val($(this).attr('data-img-url'));
                $('#sample_pic').attr('src',$(this).attr('data-img-url'));
                $('#test').val($(this).attr('data-img-url'));
            });
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</head>
<body>
    <div class="wrapper">
        <div class="container header">
            <div class="col-md-10 inline-box">
                <h1>Chie's Cakes</h1>
            </div>
            <div class="col-md-2 inline-box">
                <h1> 
                    {% if 'ID' in request.session %}
                        <form action="/logout"> 
                            {% csrf_token %}
                            <button class="form-control btn-block logout-button"> LOG OUT </button> 
                        </form>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="container header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    {% if 'ID' in request.session %}
                        <span class="navbar-brand active">Welcome {{user.first_name}}!</span>
                    {% else %}
                        <a class="navbar-brand active" href="/register">Welcome Guest!</a>
                    {% endif %}
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/flavors">Flavors</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/reservations">Reservations</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </nav>
        </div>
        <main class="container content" role=main>
            <div class="container">
                <div class="row col-md-6 inline-box">
                    <div class="col-sm-12">
                        <div class="single category">
                            <h3 class="side-title">Flavors</h3>
                            <h5 class="text-block-center"> Hover a flavor below to view picture </h5>
                            <div class="list-group">
                                {% for flavor in flavors %}
                                    <a href="#" class="list-group-item">
                                        <span class="flavors"  data-toggle="tooltip" title="Click to make the picture stay." data-img-url="{{flavor.img_url}}">{{flavor.flavor}}</span>
                                    </a>
                                {% endfor %}
                            </div>
                            <input type="hidden" id="hdnSelected" name="hdnSelected" value="media/fl_cakes.gif">
                        </div>
                    </div>
                </div>
                <div class="row col-md-6 inline-box">
                    <div class="col-sm-10">
                        <img id="sample_pic" src="media/fl_cakes.gif" class="flavor-imgs">
                    </div>
                </div>
            </div>
        </main>
        <div class="container footer">
            <div class="footer inline-box">
                <span>Follow us on: </span>
            </div>
            <div class="footer inline-box">                
                <a href="https://www.facebook.com/TPCbyChiesCakes/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a> 
            </div>
            <div class="footer inline-box">
                <a href="https://www.facebook.com/TPCbyChiesCakes/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </div>
            <div class="footer inline-box">
                <a href="https://www.youtube.com/channel/UCEhfkyPSIjh0yiXGlHbN59w">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x"></i>
                    </span>
                </a>
            </div>
            <p>About the Developer <a href="https://www.linkedin.com/in/delmundo-carlo/" class="fa fa-linkedin"></a> </p>
            <br>
        </div>
    </div>
</body>
</html>