<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "cdn/bower_components/bootstrap/dist/css/bootstrap.css"%}" />
    <script src="{% static "cdn/bower_components/jquery/dist/jquery.js"%}"></script>
    <script src="{% static "cdn/bower_components/bootstrap/dist/js/bootstrap.js"%}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/position.css"%}" />
</head>
<body>
    <div class="wrapper">
        <div class="container header">
            <div class="col-md-10 inline-box">
                <h1>Chie's Cakes</h1>
            </div>
            <div class="col-md-2 inline-box">
                <h1> 
                    {% if 'ID' in request.session %}
                        <form action="/logout"> 
                            {% csrf_token %}
                            <button class="form-control btn-block logout-button"> LOG OUT </button> 
                        </form>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="container header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    {% if 'ID' in request.session %}
                        <span class="navbar-brand active">Welcome {{user.first_name}}!</span>
                    {% else %}
                        <a class="navbar-brand active" href="/register">Welcome Guest!</a>
                    {% endif %}
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/flavors">Flavors</a></li>
                    <li class="active"><a href="/gallery">Gallery</a></li>
                    <li><a href="/book">Reservations</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </nav>
        </div>
        <main class="container content" role=main>
            <h1>Gallery</h1>
            <div class="gallery-img inline-box">
                <img src="media/images/batman.jpg" alt="" class="gallery-imgs">
            </div>
            <div class="gallery-img inline-box">
                <img src="media/images/cake3.jpg" alt="" class="gallery-imgs">
            </div>
            <div class="gallery-img inline-box">
                <img src="media/images/cake1.png" alt="" class="gallery-imgs">
            </div>
            <div class="gallery-img inline-box">
                <img src="media/images/cake2.png" alt="" class="gallery-imgs">
            </div>
            <div class="gallery-img inline-box">
                <img src="media/images/black.jpg" alt="" class="gallery-imgs">
            </div>
            <div class="gallery-img inline-box">
                <img src="media/images/cake4.png" alt="" class="gallery-imgs">
            </div>
            <div class="gallery-img inline-box">
                <img src="media/images/cake5.png" alt="" class="gallery-imgs">
            </div>
            <div class="gallery-img inline-box">
                <img src="media/images/flowers.jpg" alt="" class="gallery-imgs">
            </div>
            <div class="gallery-img inline-box">
                <img src="media/images/helga.jpg" alt="" class="gallery-imgs">
            </div>
            <br>
        </main>
        <div class="container footer">
            <div class="footer inline-box">
                <span>Follow us on: </span>
            </div>
            <div class="footer inline-box footer-box">                
                <a href="https://www.facebook.com/TPCbyChiesCakes/" class="fa fa-facebook"></a> 
            </div>
            <div class="footer inline-box footer-box">
                <a href="https://www.facebook.com/TPCbyChiesCakes/" class="fa fa-twitter"></a>
            </div>
            <div class="footer inline-box footer-box">
                <a href="https://www.youtube.com/channel/UCEhfkyPSIjh0yiXGlHbN59w" class="fa fa-youtube"></a>
            </div>
            <p>About the Developer <a href="https://www.linkedin.com/in/delmundo-carlo/" class="fa fa-linkedin"></a> </p>
            <br>
        </div>
    </div>
</body>
</html>