<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "cdn/bower_components/bootstrap/dist/css/bootstrap.css"%}" />
    <script src="{% static "cdn/bower_components/jquery/dist/jquery.js"%}"></script>
    <script src="{% static "cdn/bower_components/bootstrap/dist/js/bootstrap.js"%}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/position.css"%}" />

    <script>
        $(document).ready(function(){
            $('.view-img').click(function(){
                $('#img-modal').attr('src',$(this).attr('data-img-url'))
                $('#modal-title').text($(this).attr('data-desc'))
            })
        })
    </script>

</head>
<body>
    <div class="wrapper">
        <div class="container header">
            <div class="col-md-10 inline-box">
                <h1>Chie's Cakes</h1>
            </div>
            <div class="col-md-2 inline-box">
                <h1> 
                    {% if 'ID' in request.session %}
                        <form action="/logout"> 
                            {% csrf_token %}
                            <button class="form-control btn-block logout-button"> LOG OUT </button> 
                        </form>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="container header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    {% if 'ID' in request.session %}
                        <span class="navbar-brand active">Welcome {{user.first_name}}!</span>
                    {% else %}
                        <a class="navbar-brand active" href="/register">Welcome Guest!</a>
                    {% endif %}
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/flavors">Flavors</a></li>
                    <li class="active"><a href="/gallery">Gallery</a></li>
                    <li><a href="/reservations">Reservations</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </nav>
        </div>
        <main class="container content" role=main>
            <h1>Gallery</h1>
            <div class="col-md-12">
                {% for detail in details %}
                    <div class="col-md-4 inline-box top-bot-margin">
                        <div class="col-md-12 text-block gallery-img">
                            <div class="gallery-delete">
                            </div>
                            <a class="btn btn-info btn-lg view-img" data-toggle="modal" data-target="#myModal" data-img-url="{{detail.img_url}}" data-desc="{{detail.description}}"> 
                                <img src="{{detail.img_url}}" alt="" class="gallery-imgs"> 
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content view-modal">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 id="modal-title">Gallery</h4>
                            </div>
                            <div class="modal-body">
                                <img id="img-modal" src="{{detail.img_url}}" alt="Cake">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="container footer">
            <div class="footer inline-box">
                <span>Follow us on: </span>
            </div>
            <div class="footer inline-box">                
                <a href="https://www.facebook.com/TPCbyChiesCakes/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a> 
            </div>
            <div class="footer inline-box">
                <a href="https://www.facebook.com/TPCbyChiesCakes/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </div>
            <div class="footer inline-box">
                <a href="https://www.youtube.com/channel/UCEhfkyPSIjh0yiXGlHbN59w">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x"></i>
                    </span>
                </a>
            </div>
            <p>About the Developer <a href="https://www.linkedin.com/in/delmundo-carlo/" class="fa fa-linkedin"></a> </p>
            <br>
        </div>
    </div>
</body>
</html>