<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chie's Cakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- <link href='https://fonts.googleapis.com/css?family=Clicker Script' rel='stylesheet'> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/bootstrap.css"%}" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/position.css"%}" />
</head>
<body>
    <div class="wrapper">
        <div class="container header">
            <div class="col-md-10 inline-box">
                <h1>Chie's Cakes</h1>
            </div>
            <div class="col-md-2 inline-box">
                <h1> 
                    {% if 'ID' in request.session %}
                        <form action="/logout"> 
                            {% csrf_token %}
                            <button class="form-control btn-block logout-button"> LOG OUT </button> 
                        </form>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="container header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    {% if 'ID' in request.session %}
                        <span class="navbar-brand active">Welcome {{user.first_name}}!</span>
                    {% else %}
                        <a class="navbar-brand active" href="/register">Welcome Guest!</a>
                    {% endif %}
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/flavors">Flavors</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/book">Reservations</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </nav>
        </div>
        <br>
        <br>
        <main class="container content" role=main>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="media/images/cake1.png">
                    <div class="carousel-caption">
                        <h3>For the classic him</h3>
                        <p>Sophisticated and classy.</p>
                    </div>
                    </div>

                    <div class="item">
                    <img src="media/images/cake3.jpg">
                    <div class="carousel-caption">
                        <h3>For the precious her</h3>
                        <p>Naturally beautiful.</p>
                    </div>
                    </div>

                    <div class="item">
                    <img src="media/images/cake2.png">
                    <div class="carousel-caption">
                        <h3>A date to remember</h3>
                        <p>Never for get this...</p>
                    </div>
                    </div>

                    <div class="item">
                    <img src="media/images/cake4.png">
                    <div class="carousel-caption">
                        <h3>For the awesome kid.</h3>
                        <p>That leader kid you know.</p>
                    </div>
                    </div>

                    <div class="item">
                    <img src="media/images/cake5.png">
                    <div class="carousel-caption">
                        <h3>For the coolest folks.</h3>
                        <p>Just aged to perfection.</p>
                    </div>
                    </div>

                    <div class="item">
                    <img src="media/images/invisible.png">
                        <div class="carousel-caption">
                            <h2>Chie's Cakes is an online bakery offering custom cakes, 
                                cupcakes and desserts for every occasion.  
                                So make the moment sweeter. Say it with cake! 
                                Say with Chie’s Cakes.
                            </h2>
                            {% if 'ID' in request.session %}
                            <h3><a href="/register">Register</a> and order now!</h3>
                            {% else %}
                            <h3><a href="/book">and order now!</a></h3>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </main>
        <div class="container footer">
            <div class="footer inline-box">
                <span>Follow us on: </span>
            </div>
            <div class="footer inline-box footer-box">                
                <a href="https://www.facebook.com/TPCbyChiesCakes/" class="fa fa-facebook"></a> 
            </div>
            <div class="footer inline-box footer-box">
                <a href="https://www.facebook.com/TPCbyChiesCakes/" class="fa fa-twitter"></a>
            </div>
            <div class="footer inline-box footer-box">
                <a href="https://www.facebook.com/TPCbyChiesCakes/" class="fa fa-youtube"></a>
            </div>
            <p>About the Developer <a href="#" class="fa fa-linkedin"></a> </p>
            <br>
        </div>
    </div>
</body>
</html>