<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "cdn/bower_components/bootstrap/dist/css/bootstrap.css"%}" />
    <script src="{% static "cdn/bower_components/jquery/dist/jquery.js"%}"></script>
    <script src="{% static "cdn/bower_components/bootstrap/dist/js/bootstrap.js"%}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/position.css"%}" />
</head>
<body>
    <div class="wrapper">
        <div class="container header">
            <div class="col-md-10 inline-box">
                <h1>Chie's Cakes</h1>
            </div>
            <div class="col-md-2 inline-box">
                <h1> 
                    {% if 'ID' in request.session %}
                        <form action="/logout"> 
                            {% csrf_token %}
                            <button class="form-control btn-block logout-button"> LOG OUT </button> 
                        </form>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="container header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    {% if 'ID' in request.session %}
                        <span class="navbar-brand active">Welcome {{user.first_name}}!</span>
                    {% else %}
                        <a class="navbar-brand active" href="/register">Welcome Guest!</a>
                    {% endif %}
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/flavors">Flavors</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/book">Reservations</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </nav>
        </div>
        <br>
        <br>
        <main class="container content" role=main>
            <p>
                <span class="text-block">
                    This is a demo website. E-Mail sender for confirmation of orders, receipt, and payment method are not included.
                    Click the Log Out button on the upper right corner of the page to switch user access, 
                    and then click the "Welcome Guest" to gain access.
                </span>
            </p>
            <h1>Please select a login access below:</h1>
            <div class="col-md-12">
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="eMail" name="txtUMail" class="form-control" placeholder="email address" value="admin@email.com" />
                    <input type="hidden" id="userPassword" name="txtUPWord" class="form-control" placeholder="password" value="iForgotten" />
                    <div class="col-md-6">
                        <button class='access-btn'>ADMIN</button>
                    </div>
                </form>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="eMail" name="txtUMail" class="form-control" placeholder="email address" value="guest@email.com"/>
                    <input type="hidden" id="userPassword" name="txtUPWord" class="form-control" placeholder="password" value="iForgotten" />
                    <div class="col-md-6">
                        <button class='access-btn'>GUEST</button>
                    </div>
                </form>
            </div>
        </main>
        <div class="container footer">
            <div class="footer inline-box">
                <span>Follow us on: </span>
            </div>
            <div class="footer inline-box">                
                <a href="https://www.facebook.com/TPCbyChiesCakes/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a> 
            </div>
            <div class="footer inline-box">
                <a href="https://www.facebook.com/TPCbyChiesCakes/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </div>
            <div class="footer inline-box">
                <a href="https://www.youtube.com/channel/UCEhfkyPSIjh0yiXGlHbN59w">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x"></i>
                    </span>
                </a>
            </div>
            <p>About the Developer <a href="https://www.linkedin.com/in/delmundo-carlo/" class="fa fa-linkedin"></a> </p>
            <br>
        </div>
    </div>
</body>
</html>