<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reservations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "cdn/bower_components/bootstrap/dist/css/bootstrap.css"%}" />
    <script src="{% static "cdn/bower_components/jquery/dist/jquery.js"%}"></script>
    <script src="{% static "cdn/bower_components/bootstrap/dist/js/bootstrap.js"%}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/position.css"%}" />
</head>
<body>
    <div class="wrapper">
        <div class="container header">
            <div class="col-md-10 inline-box">
                <h1>Chie's Cakes</h1>
            </div>
            <div class="col-md-2 inline-box">
                <h1> 
                    {% if 'ID' in request.session %}
                        <form action="/logout"> 
                            {% csrf_token %}
                            <button class="form-control btn-block logout-button"> LOG OUT </button> 
                        </form>
                    {% endif %}
                </h1>
            </div>
        </div>
        <div class="container header">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    {% if 'ID' in request.session %}
                        <span class="navbar-brand active">Welcome {{user.first_name}}!</span>
                    {% else %}
                        <a class="navbar-brand" href="/register">Welcome Guest!</a>
                    {% endif %}
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/flavors">Flavors</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li class="active"><a href="/reservations">Reservations</a></li>
                    <li><a href="/contacts">Contact Us</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </nav>
        </div>
        <main class="container content" role=main>
            <h1 class="center-text">{{monthName}} {{day}}, {{year}}</h1>
            <div class="input-info">
                <form class="form-horizontal" action="/process" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Event :</label>
                        <input class="form-control" name="txtEvent" type="text" />
                    </div>
                    <div class="form-group">
                        <label>Location :</label>
                        <input class="form-control" name="txtLoc" type="text" />
                        <input class="form-control" name="hdnDate" type="hidden" value="{{month}}/{{day}}/{{year}}" />
                    </div>
                    <div class="form-group">
                        <label>Order :</label>
                        <select class="form-control" name="drpOrder">
                            <option value="Cake" selected>Cake</option>
                            <option value="Cupcakes">Cupcakes</option>
                            <option value="Cake and Cupcakes">Cake and Cupcakes</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Celebrant :</label>
                        <input class="form-control" name="txtCeleb" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="contain">Describe your order. (theme/text/size)</label>
                        <textarea class="form-control" name="txtDesc" id="txtDesc" cols="10" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                </form>
            </div>
        </main>
        <div class="container footer">
            <div class="footer inline-box">
                <span>Follow us on: </span>
            </div>
            <div class="footer inline-box">                
                <a href="https://www.facebook.com/TPCbyChiesCakes/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a> 
            </div>
            <div class="footer inline-box">
                <a href="https://www.facebook.com/TPCbyChiesCakes/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </div>
            <div class="footer inline-box">
                <a href="https://www.youtube.com/channel/UCEhfkyPSIjh0yiXGlHbN59w">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x"></i>
                    </span>
                </a>
            </div>
            <p>About the Developer <a href="https://www.linkedin.com/in/delmundo-carlo/" class="fa fa-linkedin"></a> </p>
            <br>
        </div>
    </div>
</body>
</html>