/* vietnamese */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hJFQNYuDyP7bh.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hJVQNYuDyP7bh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Clicker Script';
    font-style: normal;
    font-weight: 400;
    src: local('Clicker Script'), local('ClickerScript-Regular'), url(https://fonts.gstatic.com/s/clickerscript/v5/raxkHiKPvt8CMH6ZWP8PdlEq71rf0Ts.woff2) format('woff2');
}

body{
    background-image: url("images/outerBG.png");
    background-repeat: repeat;
}
div{
    color: black;
}
hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
.wrapper{
    min-width: 1350px;
    min-height: 1000px;
}
.content{
    background-image: url("images/innerBG.png");
    background-repeat: repeat;
    height: 100%;
    /* padding: 10px; */
    font-family: 'Quicksand';
    padding-right: 0px;
    padding-left: 0px;
}
.carousel-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.header{
    font-family: 'Clicker Script';
}
.navbar{
    font-family: 'Clicker Script';
    font-size: 25px;
}
.navbar-header{
    text-align: center;
    vertical-align: middle;   
}
.posted_img{
    align-self: auto;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.carousel{
    background: rgba(245,245,245,0.5);
}
.carousel-caption{
    color: black;
}
.imgs-admin{
    width: 230px;
    height: 250px;
    display: inline-block;
}
.carousel-imgs{
    width: 320px;
    height: 420px;
}
.link-delete{
    color: red;
}
.top-bot-margin{
    margin-top: 15px;
    margin-bottom: 15px;
}
.inline-box{
    display: inline-block;
}
.inline-box-no-padding{
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
}
.day{
    height: 100px;
    width: 150px;
    margin: 2px;
    border: 1px solid #ced4da;
    background: rgba(245,245,245,0.5);
    vertical-align: top;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.22);
}
.week,.month{
    width: 100%;
    padding: 5px;
    margin: auto;
    /* font-family: cursive; */
}
.center-text{
    text-align: center;
}
.input-info{
    margin-left: 280px;
    width: 600px;
    min-height: 1px;
    vertical-align: top;
}
.button-container{
    padding: 15px;
}
.gallery-imgs{
    width: 280px;
    height: 280px;
    border: 1px solid #ced4da;
}
.gallery-img img{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 20px 21px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 20px 21px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 20px 21px 5px 0px rgba(0,0,0,0.22);
}
.gallery-delete{
    height: 20px;
    width: 100%;
}
.gallery-caption{
    width: 100%;
    text-align: center;
    min-height: 20px;
}
.flavor-imgs{
    height: 500px;
    width: 500px;
    margin: 25px;
}
.flavors{
    cursor: pointer;
    width: 100%;
    display: block;
    color: #495057;
    background-clip: border-box;
}
.float-right{
    float: right;
}
.btn-right{
    float: right;
}
.call-cards{
    margin: 10px;
    text-align:center;
}
.cards{
    height: 450px;
    margin: auto;
    font-size: 20px;
}
.detail-box{
    height: 220px;
}
.cards li{
    list-style: none;
}
.card-img{
    height: 150px;
    width: 150px;
}
.text-block-center{
    background: rgba(245,245,245,0.5);
    width: 100%;
    display: block;
    color: #495057;
    background-clip: border-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
}
.text-block{
    background: rgba(245,245,245,0.5);
    width: 100%;
    display: block;
    color: #495057;
    background-clip: border-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
}
.item-block{
    background: rgba(245,245,245,0.5);
    width: 100%;
    min-height: 50px;
    display: block;
    color: #495057;
    background-clip: border-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 6px 12px;
}
.review-comments{
    background: rgba(245,245,245,0.5);
    width: 100%;
    display: block;
    min-height: 50px;
    color: #495057;
    background-clip: border-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 6px 6px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
}
.footer-box{
    border-left: 2px solid black;
}
.footer{
    font-family: 'Clicker Script';
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.logout-button{
    background-color: #fbb3c9;
}
textarea {
    resize: none;
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
.contact-icon {  
  position: absolute;
  top: 5%;
  left: 35%;
  height: 180px;
  width: 180px;
  background-color: white;  
  border-radius: 50%;
  line-height: 180px;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
.contact-icon:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
.show-border{
    border: 1px solid black;
}